name: CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@4

      - name: Install Crystal
        uses: crystal-lang/install-crystal@1
        with:
          crystal: latest

      - name: Install shards
        run: shards install

      - name: Format check
        run: crystal tool format --check

      - name: Run specs
        run: crystal spec
