name: CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1
        with:
          crystal: 1.18

      - name: Install shards
        run: shards install

      - name: Format check
        run: crystal tool format --check

      - name: Run specs
        run: crystal spec
